:root {
  /* Colors */
  --color-primary: #6ebae8;
  --color-primary-dark: #069eeb;
  --color-accent: #0077b6;
  --color-bg: #e5f5ff;
  --color-bg-light: #f8fbfc;
  --color-text: #3b6978;
  --color-white: #ffffff;

  /* Spacing */
  --navbar-height: 80px; /* <-- tăng lên 80px để nút không bị cắt */
  --container-padding: 5%;

  /* Font */
  --font-family: "Inter", sans-serif;

  /* Shadow */
  --shadow-light: 0 1px 10px rgba(0, 0, 0, 0.05);
}
